@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
  padding: 3.4rem 12.7rem 3.5rem 4rem;
  border: 1px solid var(--color-highlight-darker);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 3.8rem;
    right: 4rem;
    width: 1.4rem;
    height: 1px;
    background-color: var(--color-font-main);
  }

  &::after {
    content: "";
    position: absolute;
    top: 3.8rem;
    right: 4rem;
    width: 1.4rem;
    height: 1px;
    background-color: var(--color-font-main);
    transform: rotate(90deg);
    transform-origin: center;
    transition-duration: $transitionDuration;
  }
}

.key {
  @include h6(var(--color-font-main));

  margin: 0;
  transition-duration: $transitionDuration;
}

.value {
  @include regular(var(--color-font-main));

  margin: 0;
  padding-top: 2.6rem;
}

.wrapperOpened {
  &::after {
    transform: rotate(0);
  }

  .key {
    color: var(--color-highlight-buttons);
  }
}
