@import "styles/variables";
@import "styles/mixins";


.button {
  @include resetButton;
  @include capitals-bold($colorMainBg);

  display: block;
  width: 100%;
  padding: 2.2rem 0 1.8rem 0;
  background-color: var(--color-highlight-buttons);
}
