@import "styles/variables";
@import "styles/mixins";

.section {
  .slider {
    margin-top: 2.3rem;

    :global {
      div.swiper-pagination.swiper-pagination-progressbar {
        width: 100%;
      }
    }
  }

  .image {
    width: 100%;
    height: 17.6rem;
    object-fit: cover;
  }
}
