@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src:
    url("../assets/fonts/Montserrat-LightItalic.woff2") format("woff2"),
    url("../assets/fonts/Montserrat-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/fonts/Montserrat-Bold.woff") format("woff");
}
