@import "variables";

// font mixins

@mixin counter($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 8.5rem;
  color: $color;

  @media (max-width: $widthTabletMin) {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@mixin h0($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 5.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6rem;
  color: $color;
}

@mixin h1($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 5.4rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  @media (max-width: $widthMobileMax) {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@mixin h2($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.0rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }

  @media (max-width: $widthMobileMax) {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}

@mixin h2-adaptiveSpecial($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.0rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 2rem;
    line-height: 4rem;
  }

  @media (max-width: $widthMobileMax) {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
}

@mixin h3($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.0rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  @media (max-width: $widthMobileMax) {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
}

@mixin h4($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.0rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }

  @media (max-width: $widthMobileMax) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@mixin h5($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.0rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@mixin h5-italic($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  line-height: 3.2rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

@mixin h6($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  color: $color;
  letter-spacing: 0.01rem;

  @media (max-width: $widthMobileMax) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@mixin h7($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.0rem;
  color: $color;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  @media (max-width: $widthTabletMin) {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  @media (max-width: $widthDesktopMin) {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@mixin h8($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@mixin h9($color, $fontWeight: 500) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: $fontWeight;
  line-height: 1.7rem;
  color: $color;
}

@mixin h9-regular($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  color: $color;
}

@mixin capitals($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: $color;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  @media (max-width: $widthTabletMax) {
    font-weight: 500;
    line-height: 1.7rem;
  }
}

@mixin capitals-bold($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  color: $color;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  @media (max-width: $widthTabletMax) {
    font-size: 1.2rem;
  }
}

@mixin capitals-bold-small($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  color: $color;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  @media (max-width: $widthTabletMax) {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

@mixin regular($color, $fontWeight: 400) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: $fontWeight;
  line-height: 2.8rem;
  color: $color;

  @media (max-width: $widthTabletMax) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@mixin regularTabletScaling($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  color: $color;

  @media (max-width: $widthMobileMax) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@mixin small($color) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  color: $color;

  @media (max-width: $widthMobileMax) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// reset mixins

@mixin resetButton {
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

@mixin resetList {
  margin: 0;
  padding: 0;
  list-style: none;
}

// style mixins

@mixin linkBehavior {
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--color-highlight-buttons);
  }
}

@mixin colorButtonBehavior {
  color: var(--color-highlight-buttons);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--color-highlight-buttons-dark);
  }

  &:active {
    color: var(--color-highlight-buttons);
    opacity: 0.6;
  }
}

@mixin mobileContainerLiftedDecorated {
  margin-top: -4rem;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  background-color: $colorMainBg;
}
