@import "styles/variables";
@import "styles/mixins";

.descriptor {
  @include h5-italic(var(--color-font-main));

  margin: 1.6rem 0 0 0;
}

.list {
  @include resetList;

  display: flex;
  flex-direction: column;
  margin-top: 1.7rem;
}

.item {
  display: flex;
  align-items: center;

  &:not(:first-of-type) {
    margin-top: 3rem;
  }
}

.key {
  @include counter(var(--color-highlight-mosaic));
  margin: 0;

  display: flex;
}

.value {
  @include regular(var(--color-font-main));
  margin: 0;
}
