@import "styles/variables";
@import "styles/mixins";


.bg {
  padding-top: 18.1rem;
  position: relative;
  background-size: 100% auto;
}

.content {
  margin-top: 4.5rem;
  padding-top: 3rem;
  background-color: $colorMainBg;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

div.container {
  padding: 0 3rem;
}

button.play {
  margin: 0 auto;
}

.sloganAdaptive {
  @include h1(var(--color-font-main));

  margin: 0;
}

.sloganDesktop {
  display: none;
}

.descriptor {
  @include h9-regular(var(--color-font-main));

  margin: 1.7rem 0 0 0;
  opacity: 0.7;
}

.btn {
  margin-top: 2.2rem;
}

.video {
  width: 100%;
  height: auto;
}

@media (min-width: $widthDesktopMin) {
  .sloganAdaptive {
    display: none;
  }

  .sloganDesktop {
    display: block;
  }
}
