@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 19rem;
  background-color: var(--color-font-main);
}

.dots {
  position: absolute;
  bottom: -15rem;
  right: -2rem;
  width: 40rem;
  transform: rotate(90deg);
}

.title {
  color: $colorMainBg;
}

.descriptor {
  @include h5($colorMainBg);

  margin: 2.5rem 0 0 0;
}

.warning {
  @include regular($colorMainBg);

  display: flex;
  align-items: center;
  margin: 3rem 0 0 0;
  opacity: 0.7;
}

.form {
  margin-top: 4.8rem;
}

.iconLock {
  margin-right: 1.6rem;
  width: 1.6rem;
  fill: $colorMainBg;
}

.link {
  @include regular($colorMainBg);

  margin: 0 0.5rem;
  text-decoration: underline;
}
