@import "styles/variables";
@import "styles/mixins";

.wrapper {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 3.9rem;
  background-color: var(--color-font-main);
  overflow: hidden;
}

.dots {
  position: absolute;
  bottom: -30%;
  right: -47%;
  width: 100%;
}

.title {
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: $colorMainBg;
}

.descriptor {
  @include regular($colorMainBg);

  margin: 1.4rem 0 0 0;
}

.warning {
  @include regular($colorMainBg);

  display: flex;
  align-items: flex-start;
  margin: 1.4rem 0 0 0;
  opacity: 0.7;

  span {
    width: calc(100% - 1.6rem - 1.6rem);
  }
}

.form {
  margin-top: 3rem;
}

.iconLock {
  margin-right: 1.6rem;
  width: 1.6rem;
  fill: $colorMainBg;
}

.link {
  @include regular($colorMainBg);

  margin: 0 0.5rem;
  text-decoration: underline;
}

@media (min-width: $widthTabletMin) {
  .wrapper {
    padding-top: 4.4rem;
    padding-bottom: 4rem;
  }

  .dots {
    position: absolute;
    bottom: -57%;
    right: -20%;
    width: 50%;
    z-index: 0;
  }

  .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .descriptor {
    padding-right: 30%;
    width: 100%;
  }

  .form {
    margin-top: 3.5rem;
  }

  .warning {
    width: calc(100% - 28.1rem - 3rem);
    margin: 3.9rem 0 0 auto;
  }
}
