@import "styles/variables";
@import "styles/mixins";

.section {
  padding-top: 27.8rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  padding: 2.4rem 5.5rem 2.7rem 3rem;
  background-color: var(--color-highlight-mosaic);
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
}

.quote {
  @include h4($colorMainBg);

  margin: 0;
  padding: 0;
}

.author {
  @include regular($colorMainBg);

  display: block;
  margin: 1rem 0 0 0;
}

.icon {
  position: absolute;
  top: 2.3rem;
  right: 2.9rem;
  width: 2.4rem;
  fill: $colorMainBg;
}
