@import "styles/variables";

.map {
  width: 100%;
  height: 46.2rem;

  :global {
    [class*="ymaps-2"][class*="-ground-pane"] {
      filter: grayscale(1);
    }
  }
}

@media (min-width: $widthTabletMin) {
  .map {
    height: 45.6rem;
  }
}
