@import "styles/variables";
@import "styles/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $colorMainBg;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2.2rem 0;
  overflow: hidden;
}

.logo {
  margin-right: auto;
}

.iconLogo {
  width: 9.5rem;
  fill: var(--color-font-main);
}

.search {
  @include resetButton;

  margin-left: auto;
}

.iconSearch {
  width: 1.9rem;
  fill: var(--color-font-main);
}

.burger {
  @include resetButton;

  margin-left: 2rem;
}

.iconBurger {
  width: 2.2rem;
  fill: var(--color-font-main);
}

.btnRegister,
.top {
  display: none;
}

@media (min-width: $widthTabletMin) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $colorMainBg;
      opacity: 0.1;
    }
  }

  .wrapper {
    padding: 2.3rem 0 2.1rem 0;
  }

  .iconLogo,
  .iconSearch,
  .iconBurger {
    fill: $colorMainBg;
  }
}

@media (min-width: $widthDesktopMin) {
  .header {
    position: relative;

    &::before {
      background-color: var(--color-font-main);
    }
  }

  .top {
    display: block;
  }

  .desktopWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.4rem;
    padding-bottom: 2.5rem;
  }

  .wrapper {
    padding: 0;
    width: auto;
  }

  .iconLogo {
    fill: var(--color-font-main);
  }

  .iconSearch,
  .iconBurger {
    display: none;
  }

  .iconLogo {
    width: 14.4rem;
  }

  .btnRegister {
    display: block;
    width: 21.7rem;
  }
}
